@use '@/assets/scss/constants/variables' as vars;
$detail-ratio: 9px;

.detailFilmContainer {
    background-color: vars.$background-color;

    & .title {
        margin-top: 1rem;
        width: 95%;
        padding: 0.5rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: vars.$primary-color;
        font-size: 2rem;
        font-weight: 600;
    }

    & .thongTinFilm {
        height: auto;
        overflow: hidden;
        margin: 1.5rem 0;
        background-color: white;
        border: thin solid vars.$primary-color;
        border-radius: 15px;
        padding: 1rem 1.5rem;
    }

    & .detail-poster {
        width: calc(round(vars.$w-ratio * $detail-ratio));
        height: calc(round(vars.$h-ratio * $detail-ratio));
        border-radius: 10px;
        background-size: cover;
        border: thin solid vars.$bg-primary;

        & > * {
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }

    & .btns {
        width: calc(round(vars.$w-ratio * $detail-ratio));
        display: flex;
        justify-content: space-between;

        & .btn {
            width: 110px;
            background-color: vars.$primary-color;
            border-radius: 0;
            margin-top: 0.5rem;
            &:hover {
                background-color: vars.$primary-color-hover;
            }

            &.btn-trailer {
                border-top-left-radius: 2rem;
                border-bottom-left-radius: 2rem;
            }

            &.btn-watch {
                border-top-right-radius: 2rem;
                border-bottom-right-radius: 2rem;
            }
        }
    }

    & .thongTinChiTiet {
        border-radius: 10px;
        padding: 1rem;
        color: vars.$white;
        background-color: vars.$bg-primary;
        height: 100%;
    }
}
